@import "tailwindcss";

@theme {
  --color-verde-oxy: #295234;
  --color-dorado-oxy: #af863e;
  
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Personalizaciones adicionales si necesitas */
@layer utilities {
  .border-dorado-oxy {
    border-color: var(--color-dorado-oxy);
  }
}


html {
  scroll-behavior: smooth;
}